body {
    background-color: #fba6e1;
}

#parallelogram {
    height: 100vh;
    width: 100vw;
    position: absolute;
    clear: both;    
}

#parallelogram div {
	width: 20vw;
	height: 20vw;
	-webkit-transform: skew(90deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
	background: #8EDCE6;
    display: block;
    float: left;
    margin: 2vw;
}

#parallelogram_2 {
    height: 100vh;
    width: 100vw;
    position: absolute;
    clear: both;    
}

#parallelogram_2 div {
	width: 20vw;
	height: 10vw;
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
	background: #727E54;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefcea+0,f1da36+100;Gold+3D */
background: #fefcea; /* Old browsers */
background: -moz-linear-gradient(top, #fefcea 0%, #f1da36 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fefcea 0%,#f1da36 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fefcea 0%,#f1da36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
    display: block;
    float: left;
    margin: 2vw;
    opacity: .5;
}

#circles div {
    height: 12vw;
    width: 12vw;
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9de96+0,8ab66b+44,398235+100;Green+3D+%233 */
background: #c9de96; /* Old browsers */
background: -moz-linear-gradient(top, #c9de96 0%, #8ab66b 44%, #398235 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #c9de96 0%,#8ab66b 44%,#398235 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
  
    margin-left: 2vw;
    float: left;
    border-radius: 50%;
    opacity: .3;
}

#circles div:hover {
    height: 12vw;
    width: 12vw;
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9de96+0,8ab66b+44,398235+100;Green+3D+%233 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcecfc+0,fba6e1+50,ff7cd8+100 */
background: #fcecfc; /* Old browsers */
background: -moz-linear-gradient(top, #fcecfc 0%, #fba6e1 50%, #ff7cd8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fcecfc 0%,#fba6e1 50%,#ff7cd8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fcecfc 0%,#fba6e1 50%,#ff7cd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8',GradientType=0 ); /* IE6-9 */
  
    margin-left: 2vw;
    float: left;
    border-radius: 50%;
    opacity: .7;
      transition: 0.5s;

}




#circles {
width: 100vw;
    height: 100vh;
    position: absolute;
    clear: both;
}