/* This is a CSS comment! Use it
   to organize code or turn CSS attributes
   "off" without deleting code
*/

body {
		background-color: rgb(217, 200, 140);/* sweet blanched almond */
	margin: 0; /* on most browsers the body has a 
				  default margin of 8px */
}

/*
	You can use comments to make big divisions
	in your code if you want !
*/

/* this is for all the <div> inside of
	<div id="circles">
	--> <div></div> <--
*/



#star-six {
	margin-left: -90px;

}



#star-six div{
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid orange;
	position: relative;
	float: right;
  mix-blend-mode: overlay;
}
#star-six div:after {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 100px solid orange;
	position: absolute;
	content: "";
	top: 30px;
	left: -50px;
    mix-blend-mode: overlay;

}
	


#squares {
  position: absolute;


}


#squares div{
	height: 13vw; /* vw = viewport width — adjusts
					 with the size of the browser */
    width: 3vw;
    background-color: tomato;
    margin: 2vw;
    float: right;
}

/* this is for all the class="blue" inside of
	<div id="circles">
	--> <div class="blue"></div> <--
*/
#squares .blue {
	background-color: blue;
}

/* this is for all the id="yellow" inside of
	<div id="circles">
	--> <div id="yellow"></div> <--
*/
#squares #yellow {
	background-color: yellow;
}

/* -----------------------
	Circles
   ------------------------ */

/* this is for 
   <div id="circles">
*/
#circles {
    width: 110vw; /* a little larger than the window */
    position: fixed;
    top: -5vw; /* moves the div above the 
    			   frame of the window */
    left: -5vw; /* moves the div left of the 
    			   frame of the window */
    transform: roate(-15deg); /* yep, I'm rotating the whole
    						   container ;) */
}


/* this is for all the <div> inside of
	<div id="circles">
	--> <div></div> <--
*/
#circles div {
	height: 1vw;
	width: 1vw;
	background-color: rgb(217, 145, 251);
	border-radius: 50%;
	margin: 5vw;
	float: left;
}

/* -----------------------
	Something new:
	Triangles !
   ------------------------ */

/* container for triangles */
#triangles {
	width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

#triangles div { 
	/* from 
	   https://css-tricks.com/examples/ShapesOfCSS/
	*/
	width: 0;
	height: 0;
	/* "triangles" are just crazy border styles */
    border-left: 3vw solid transparent;
    border-right: 5vw solid transparent;
    border-bottom: 50vw solid mistyrose;
	float: left;
    transform: rotate(20deg); /* time for fun */
    box-shadow: 20px 20px 20px rgba(50,50,50,.5);
    /* yes there are blend modes in CSS!! */
    mix-blend-mode: overlay;
}



#star-five {

	width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;



}


#star-five div{
   margin: 50px 0;
   position: relative;
   display: block;
   color: red;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid yellow;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
   float:left;

}
#star-five div:before {
   border-bottom: 80px solid red;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five div:after {
   position: absolute;
   display: block;
   color: red;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid red;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}


