    body {

    	background-color: lavendar;
    }


    h1{
        font-weight: normal;
        font-size: 40px;
        color: rgb(19, 210, 234);

      }

     h2{



     }
     a{


     }

     body{


     }