body {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: #FFF;
}



#containerDiv {
	background-image: url('victorian.jpg');
	height:600px;
	width: 500px;
	text-align: center;
	border-style: double;
	position: relative;
  	margin: auto;
  	padding: 30px;

}

#menuDiv {
	width: 500px;
	text-align: left;
}

a {

	color: white;
}