/* This is a CSS comment! Use it
   to organize code or turn CSS attributes
   "off" without deleting code
*/

body {
		background-color: rgb(87, 0, 197);/* sweet blanched almond */
	margin: 0; /* on most browsers the body has a 
				  default margin of 8px */
}

/*
	You can use comments to make big divisions
	in your code if you want !
*/

/* this is for all the <div> inside of
	<div id="circles">
	--> <div></div> <--
*/



#trapezoid div {
  border-bottom: 100px solid rgba(255, 240, 251,.5);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0;
  width: 100px;
  float:left;
    margin: 30px;

}




#squares div{
	height: 10vw; /* vw = viewport width — adjusts
					 with the size of the browser */
    width: 10vw;
    background-color: tomato;
    margin: 2vw;
    float: right;
}

/* this is for all the class="blue" inside of
	<div id="circles">
	--> <div class="blue"></div> <--
*/
#squares .blue {
	background-color: blue;
}

/* this is for all the id="yellow" inside of
	<div id="circles">
	--> <div id="yellow"></div> <--
*/
#squares #yellow {
	background-color: yellow;
}

/* -----------------------
	Circles
   ------------------------ */

/* this is for 
   <div id="circles">
*/
#circles {
    width: 110vw; /* a little larger than the window */
    position: fixed;
    top: -5vw; /* moves the div above the 
    			   frame of the window */
    left: -5vw; /* moves the div left of the 
    			   frame of the window */
    transform: roate(-15deg); /* yep, I'm rotating the whole
    						   container ;) */
}


/* this is for all the <div> inside of
	<div id="circles">
	--> <div></div> <--
*/
#circles div {
	height: 6vw;
	width: 6vw;
	background-color: rgba(217, 145, 251, .5);
	border-radius: 20%;
	margin: 5vw;
	float: left;
}

/* -----------------------
	Something new:
	Triangles !
   ------------------------ */

/* container for triangles */
#triangles {
	width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

#triangles div { 
	/* from 
	   https://css-tricks.com/examples/ShapesOfCSS/
	*/
	width: 0;
	height: 0;
	/* "triangles" are just crazy border styles */
    border-left: 3vw solid transparent;
    border-right: 5vw solid transparent;
    border-bottom: 50vw solid mistyrose;
	float: left;
    transform: rotate(20deg); /* time for fun */
    box-shadow: 20px 20px 20px rgba(50,50,50,.5);
    /* yes there are blend modes in CSS!! */
    mix-blend-mode: overlay;
}



#hexagon  {

	width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

}


#hexagon div{
  width: 100px;
  height: 55px;
  background: rgba(216,160,0,.6);
  position: relative;
  float: left;
  margin: 30px;
}
#hexagon div:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid rgba(220, 200, 251,.5);
}
#hexagon div:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid rgba(255, 200, 251,.5);
}



