

body {
		background-color: #FFF;/* sweet blanched almond */
	margin: 0; /* on most browsers the body has a 
				  default margin of 8px */
				  font-family: 'mrseavessmallcaps';
}


#graphicBG {
	position: absolute;
	z-index: 0;
}

#graphicBG img{
	width: 110vw;
}

a {
text-decoration: none;


}
#text {
	color: #FFF;
	line-height: 80px;
	font-size:110px;
	position: absolute;
	z-index: 5;
	margin-left: 15px;
	margin-top:54%;
}

#contentMain {
	position:absolute;
	text-align:center;
	margin:auto;
	z-index: 10;
	width: 101vw;
	margin-top:136vh;
}

#contentMainB {
	position:absolute;
	text-align:center;
	margin:auto;
	z-index: 10;
	width: 101vw;
	margin-top:10px;
}

#holder1 {
	text-align: left;
	color: #FFF;
	padding: 30px;
	width: 101vw;
	height: 1500px;
	background-color: #dbdbdb;
	font-size: 60px;

}


#holder1B {
	text-align: left;w
	color: #333;
	padding: 30px;
	width: 700px;
	height: 1500px;
	background-color: #FFF;
	font-size: 20px;

}
#contentMain img{

	width: 80vw;

}


#contentMain a:hover {

	font-weight:bold;
	color: #999;

}

.twitter-tweet {

	margin:auto;
}

.lines {
	padding-bottom: 15px;


}


#lineTitle{

	font-size: 45px;
	padding-bottom: 45px;
}
